@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    margin: 47px 0px 0px 42px;
}

a {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.88px;
    color: #17233D;
    margin-right: 32px;
    text-decoration: none;

    &:hover {
        color: #4CB538;
        font-weight: 500;
    }
}

.btn-header {
    width: 124px;
    height: 51px;
    border-radius: 6px;
    background-color: #4CB538;
    color: #FFFFFF;
    border: 1px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;

    &:hover {
        background-color: #6fbf44;
    }
}

img {
    width: 595.18px;
    height: 500px;
    margin: 163px 0px 0px 121px;
}

section {
    display: flex;
}

h1 {
    font-size: 62px;
    font-weight: 700;
    line-height: 82px;
    letter-spacing: 0.6px;
    color: #161a49;
    width: 582px;
    margin: 259px 0px 0px 84.82px;
}

.description {
    width: 493px;
    height: 99px;
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #4B505A;
    margin: 47px 0px 0px 84.82px;
}

.learn-more {
    font: 18px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 1px;
    color: #6fbf44;
    margin: 55px 0px 0px 84.82px;

    &:hover {
        cursor: pointer;
        color: #4CB538;
        font-weight: 600;
    }
}